<!-- Footer -->
<footer class="page-footer font-small text-white">
    <div class="container-fluid" style="background-color: #002e71;">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
      <div class="footer-pt1">
    <div class="row border-bottom">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 mb-3 border-right">

        <!-- Content -->
        <h5 class="text-uppercase">Contact Us</h5>
        <p> <span style="font-weight: bold;">Address</span> : Plot No. R-87 Allama Iqbal Road, P. E. C. H. S Block-2, Karachi </p>
        <p><span style="font-weight: bold;">Timings</span> : 11:00 am till 8:00 pm</p>
        <p><span style="font-weight: bold;">Phone</span> : +92 341-702-8320 | +92 334-822-0720</p>
        <p><span style="font-weight: bold;">Mail</span> : contact@digilitesolutions.net</p>
        <p><span style="font-weight: bold;">Web</span> : www.digilitesolutions.net</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">Shop</a>
          </li>
          <li>
            <a href="#!">Pages</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">New Arrivals</a>
          </li>
          <li>
            <a href="#!">Services</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Policy</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Payment Information</a>
          </li>
          <li>
            <a href="#!">Shipping Information</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Telemart Outlets</a>
          </li>
          <li>
            <a href="#!">Telemart Franchise Program</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase tocenter">SOCIAL</h5>

        <ul class="list-unstyled tocenter">
          <li>
            <div class="footer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </li>
        </ul>
      </div>

    </div>
      </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://digilitesolutions.net/"> DigiliteSolutions.com</a>
  </div>
    </div>

</footer>
